@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --soft-blue: #2D4B73;
  --dark-blue: #272445;
  --light-blue: #B4D4E0;
  --yellow: #F0EB8A;
  --green: #83C9A0;
  --gray: #B4BEC9;
}

body {
  color: #111827;
}

.post-detail{
  @apply font-light
}

.post-detail h2{
  @apply font-bold text-xl mt-4 mb-2;
}
.post-detail h3{
  @apply font-bold text-base mt-4 mb-2;
}
.post-detail a{
  @apply underline text-brand-soft-blue font-semibold;
}
.post-detail ul{
  @apply mb-4 mt-2;
}
.post-detail li{
  @apply list-disc ml-6;
}
.post-detail hr{
  border-top: 1px solid #d1d5db;
  margin: 1rem 0;
}