@import "tailwindcss";

@theme {
  --color-soft-blue: #2D4B73;
  --color-dark-blue: #272445;
  --color-light-blue: #B4D4E0;
  --color-yellow: #F0EB8A;
  --color-green: #83C9A0;
  --color-gray: #B4BEC9;
}

body {
  color: #111827;
}


.post-detail{
  @apply font-light
}

.post-detail h2{
  @apply font-bold text-xl mt-4 mb-2;
}
.post-detail h3{
  @apply font-bold text-base mt-4 mb-2;
}
.post-detail a{
  @apply underline text-soft-blue font-semibold;
}
.post-detail ul{
  @apply mb-4 mt-2;
}
.post-detail li{
  @apply list-disc ml-6;
}
.post-detail hr{
  @apply border-gray-200;
}